.text{
    text-align: center;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}.loo{
    color: red;
}.mar{
    color: blue;
}